In [1]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff  # 圖形工廠
from plotly.subplots import make_subplots  # 繪製子圖
import numpy as np
from Upload_git import upload
from os import system
import time
from time import ctime, sleep
from Upload_git import upload
import schedule
import psycopg2
import psycopg2.extras as extras
from sqlalchemy import create_engine
from sklearn.linear_model import LinearRegression
from statsmodels.regression.rolling import RollingOLS, RollingWLS
from scipy import stats
import revenue_function as fn
import pickle

In [3]:
"""
connect to db
"""
host='database-1.cyn7ldoposru.us-east-1.rds.amazonaws.com'
port='5432'
user='Yu'
password='m#WA12J#'
database="JQC_Revenue1"

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
        user, password, host, port, database), echo=True)

"""
callback input & output detail 
"""
revenue = pd.read_sql('industry', engine)
new_industry_name = revenue['TSE新產業名.1'].dropna()
minor_industry_name = revenue['TEJ子產業名.1'].dropna()
db = pd.read_sql('tej_revenue', engine).drop('index', axis=1)

2023-03-05 16:02:58,463 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2023-03-05 16:02:58,468 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-05 16:02:58,982 INFO sqlalchemy.engine.Engine select current_schema()
2023-03-05 16:02:58,983 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-05 16:02:59,493 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2023-03-05 16:02:59,494 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-05 16:03:00,104 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-03-05 16:03:00,105 INFO sqlalchemy.engine.Engine [generated in 0.00164s] {'name': 'industry'}
2023-03-05 16:03:00,819 INFO sqlalchemy.engine.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2023-03-05 16:03:00,820 INFO sqlalchemy.engine.Engine [generated in 0.00152s] {'schema': 'public'}
2023-03-05 16:03:01,344 INFO sqlalchemy.engine.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in
            ('r', 'v', 'm', 'f', 'p')

2023-03-05 16:03:01,345 INFO sqlalchemy.engine.Engine [generated in 0.00103s] {'table_name': 'industry'}
2023-03-05 16:03:01,638 INFO sqlalchemy.engine.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (
                SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
                WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
                AND a.atthasdef
              ) AS DEFAULT,
              a.attnotnull,
              a.attrelid as table_oid,
              pgd.description as comment,
              a.attgenerated as generated,
                              (SELECT json_build_object(
                    'always', a.attidentity = 'a',
                    'start', s.seqstart,
                    'increment', s.seqincrement,
                    'minvalue', s.seqmin,
                    'maxvalue', s.seqmax,
                    'cache', s.seqcache,
                    'cycle', s.seqcycle)
                FROM pg_catalog.pg_sequence s
                JOIN pg_catalog.pg_class c on s.seqrelid = c."oid"
                WHERE c.relkind = 'S'
                AND a.attidentity != ''
                AND s.seqrelid = pg_catalog.pg_get_serial_sequence(
                    a.attrelid::regclass::text, a.attname
                )::regclass::oid
                ) as identity_options
            FROM pg_catalog.pg_attribute a
            LEFT JOIN pg_catalog.pg_description pgd ON (
                pgd.objoid = a.attrelid AND pgd.objsubid = a.attnum)
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2023-03-05 16:03:01,638 INFO sqlalchemy.engine.Engine [generated in 0.00091s] {'table_oid': 16461}
2023-03-05 16:03:01,945 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2023-03-05 16:03:01,946 INFO sqlalchemy.engine.Engine [generated in 0.00065s] {}
2023-03-05 16:03:02,250 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2023-03-05 16:03:02,251 INFO sqlalchemy.engine.Engine [generated in 0.00107s] {}
2023-03-05 16:03:02,567 INFO sqlalchemy.engine.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2023-03-05 16:03:02,568 INFO sqlalchemy.engine.Engine [generated in 0.00093s] {'table_oid': 16461}
2023-03-05 16:03:02,866 INFO sqlalchemy.engine.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2023-03-05 16:03:02,867 INFO sqlalchemy.engine.Engine [generated in 0.00121s] {'table_oid': 16461}
2023-03-05 16:03:03,175 INFO sqlalchemy.engine.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2023-03-05 16:03:03,175 INFO sqlalchemy.engine.Engine [generated in 0.00079s] {'table': 16461}
2023-03-05 16:03:03,481 INFO sqlalchemy.engine.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  ix.indoption::varchar, i.reloptions, am.amname,
                  pg_get_expr(ix.indpred, ix.indrelid),
                  ix.indnkeyatts as indnkeyatts
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm', 'p')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2023-03-05 16:03:03,481 INFO sqlalchemy.engine.Engine [generated in 0.00082s] {'table_oid': 16461}
2023-03-05 16:03:03,788 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2023-03-05 16:03:03,789 INFO sqlalchemy.engine.Engine [generated in 0.00080s] {'table_oid': 16461}
2023-03-05 16:03:04,095 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                pg_get_constraintdef(cons.oid) as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2023-03-05 16:03:04,097 INFO sqlalchemy.engine.Engine [generated in 0.00152s] {'table_oid': 16461}
2023-03-05 16:03:04,402 INFO sqlalchemy.engine.Engine
            SELECT
                pgd.description as table_comment
            FROM
                pg_catalog.pg_description pgd
            WHERE
                pgd.objsubid = 0 AND
                pgd.objoid = %(table_oid)s

2023-03-05 16:03:04,404 INFO sqlalchemy.engine.Engine [generated in 0.00166s] {'table_oid': 16461}
2023-03-05 16:03:05,028 INFO sqlalchemy.engine.Engine SELECT industry.index, industry."公司簡稱", industry."TSE新產業名", industry."TEJ子產業名", industry."Unnamed: 3", industry."TSE新產業名.1", industry."TEJ子產業名.1", industry."Unnamed: 6", industry."公司簡稱.1", industry."TSE新產業名.2", industry."TEJ子產業名.2", industry."Unnamed: 10", industry."Unnamed: 11", industry."單月營收(千元)", industry."單月營收(千元).1", industry."單月營收(千元).2", industry."單月營收(千元).3", industry."單月營收(千元).4", industry."單月營收(千元).5", industry."單月營收(千元).6", industry."單月營收(千元).7", industry."單月營收(千元).8", industry."單月營收(千元).9", industry."單月營收(千元).10", industry."單月營收(千元).11", industry."Unnamed: 24", industry."Unnamed: 25", industry."單月營收(千元).12", industry."單月營收(千元).13", industry."單月營收(千元).14", industry."單月營收(千元).15", industry."單月營收(千元).16", industry."單月營收(千元).17", industry."單月營收(千元).18", industry."單月營收(千元).19", industry."單月營收(千元).20", industry."單月營收(千元).21", industry."單月營收(千元).22", industry."單月營收(千元).23", industry."Unnamed: 38", industry."Unnamed: 39", industry."單月營收(千元).24", industry."單月營收(千元).25", industry."單月營收(千元).26", industry."單月營收(千元).27", industry."單月營收(千元).28", industry."單月營收(千元).29", industry."單月營收(千元).30", industry."單月營收(千元).31", industry."單月營收(千元).32", industry."單月營收(千元).33", industry."單月營收(千元).34", industry."單月營收(千元).35", industry."Unnamed: 52", industry."Unnamed: 53", industry."單月營收(千元).36", industry."單月營收(千元).37", industry."單月營收(千元).38", industry."單月營收(千元).39", industry."單月營收(千元).40", industry."單月營收(千元).41", industry."單月營收(千元).42", industry."單月營收(千元).43", industry."單月營收(千元).44", industry."單月營收(千元).45", industry."單月營收(千元).46", industry."單月營收(千元).47", industry."Unnamed: 66", industry."Unnamed: 67", industry."去年單月營收(千元)", industry."去年單月營收(千元).1", industry."去年單月營收(千元).2", industry."去年單月營收(千元).3", industry."去年單月營收(千元).4", industry."去年單月營收(千元).5", industry."去年單月營收(千元).6", industry."去年單月營收(千元).7", industry."去年單月營收(千元).8", industry."去年單月營收(千元).9", industry."去年單月營收(千元).10", industry."去年單月營收(千元).11"
FROM industry
2023-03-05 16:03:05,029 INFO sqlalchemy.engine.Engine [generated in 0.00111s] {}
2023-03-05 16:03:07,810 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-03-05 16:03:07,810 INFO sqlalchemy.engine.Engine [cached since 7.707s ago] {'name': 'tej_revenue'}
2023-03-05 16:03:08,704 INFO sqlalchemy.engine.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2023-03-05 16:03:08,705 INFO sqlalchemy.engine.Engine [cached since 7.887s ago] {'schema': 'public'}
2023-03-05 16:03:09,320 INFO sqlalchemy.engine.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in
            ('r', 'v', 'm', 'f', 'p')

2023-03-05 16:03:09,321 INFO sqlalchemy.engine.Engine [cached since 7.977s ago] {'table_name': 'tej_revenue'}
2023-03-05 16:03:09,625 INFO sqlalchemy.engine.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (
                SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
                WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
                AND a.atthasdef
              ) AS DEFAULT,
              a.attnotnull,
              a.attrelid as table_oid,
              pgd.description as comment,
              a.attgenerated as generated,
                              (SELECT json_build_object(
                    'always', a.attidentity = 'a',
                    'start', s.seqstart,
                    'increment', s.seqincrement,
                    'minvalue', s.seqmin,
                    'maxvalue', s.seqmax,
                    'cache', s.seqcache,
                    'cycle', s.seqcycle)
                FROM pg_catalog.pg_sequence s
                JOIN pg_catalog.pg_class c on s.seqrelid = c."oid"
                WHERE c.relkind = 'S'
                AND a.attidentity != ''
                AND s.seqrelid = pg_catalog.pg_get_serial_sequence(
                    a.attrelid::regclass::text, a.attname
                )::regclass::oid
                ) as identity_options
            FROM pg_catalog.pg_attribute a
            LEFT JOIN pg_catalog.pg_description pgd ON (
                pgd.objoid = a.attrelid AND pgd.objsubid = a.attnum)
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2023-03-05 16:03:09,626 INFO sqlalchemy.engine.Engine [cached since 7.989s ago] {'table_oid': 16512}
2023-03-05 16:03:09,932 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2023-03-05 16:03:09,933 INFO sqlalchemy.engine.Engine [cached since 7.988s ago] {}
2023-03-05 16:03:10,240 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2023-03-05 16:03:10,241 INFO sqlalchemy.engine.Engine [cached since 7.991s ago] {}
2023-03-05 16:03:10,548 INFO sqlalchemy.engine.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2023-03-05 16:03:10,549 INFO sqlalchemy.engine.Engine [cached since 7.983s ago] {'table_oid': 16512}
2023-03-05 16:03:10,852 INFO sqlalchemy.engine.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2023-03-05 16:03:10,854 INFO sqlalchemy.engine.Engine [cached since 7.988s ago] {'table_oid': 16512}
2023-03-05 16:03:11,066 INFO sqlalchemy.engine.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2023-03-05 16:03:11,067 INFO sqlalchemy.engine.Engine [cached since 7.892s ago] {'table': 16512}
2023-03-05 16:03:11,366 INFO sqlalchemy.engine.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  ix.indoption::varchar, i.reloptions, am.amname,
                  pg_get_expr(ix.indpred, ix.indrelid),
                  ix.indnkeyatts as indnkeyatts
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm', 'p')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2023-03-05 16:03:11,367 INFO sqlalchemy.engine.Engine [cached since 7.887s ago] {'table_oid': 16512}
2023-03-05 16:03:11,672 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2023-03-05 16:03:11,673 INFO sqlalchemy.engine.Engine [cached since 7.886s ago] {'table_oid': 16512}
2023-03-05 16:03:11,979 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                pg_get_constraintdef(cons.oid) as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2023-03-05 16:03:11,980 INFO sqlalchemy.engine.Engine [cached since 7.885s ago] {'table_oid': 16512}
2023-03-05 16:03:12,286 INFO sqlalchemy.engine.Engine
            SELECT
                pgd.description as table_comment
            FROM
                pg_catalog.pg_description pgd
            WHERE
                pgd.objsubid = 0 AND
                pgd.objoid = %(table_oid)s

2023-03-05 16:03:12,287 INFO sqlalchemy.engine.Engine [cached since 7.885s ago] {'table_oid': 16512}
2023-03-05 16:03:12,902 INFO sqlalchemy.engine.Engine SELECT tej_revenue.index, tej_revenue.st_code, tej_revenue.st_name, tej_revenue.rev_period, tej_revenue.declaration_date, tej_revenue.rev, tej_revenue.declaration_year, tej_revenue.declaration_month, tej_revenue.new_industry_name, tej_revenue.minor_industry_name
FROM tej_revenue
2023-03-05 16:03:12,904 INFO sqlalchemy.engine.Engine [generated in 0.00142s] {}

,st_code,st_name,rev_period,declaration_date,rev,declaration_year,declaration_month,new_industry_name,minor_industry_name
0,2402,毅嘉,2013/01,2013/02/01,734822.0,2013,2,M2328 電子零組件,M23B2C 軟板
1,3228,金麗科,2013/01,2013/02/01,24044.0,2013,2,M2324 半導體,M23G5 IC設計
2,8255,朋程,2013/01,2013/02/02,281127.0,2013,2,M1500 電機機械,M15D 汽車組件
3,1256,鮮活果汁-KY,2013/01,2013/02/04,151268.0,2013,2,M1200 食品工業,M12C 飲料乳品
4,1560,中砂,2013/01,2013/02/04,333674.0,2013,2,M1500 電機機械,M15A2 模具零件
...,...,...,...,...,...,...,...,...,...
193375,9940,信義,2023/01,2023/02/10,2063264.0,2023,02,M9900 其他,M25D 仲介建經
193376,9945,潤泰新,2023/01,2023/02/10,1671450.0,2023,02,M9900 其他,M25A 建設
193377,9946,三發地產,2023/01,2023/02/10,18769.0,2023,02,M2500 建材營造,M25A 建設
193378,9950,萬國通,2023/01,2023/02/10,262023.0,2023,02,M1300 塑膠工業,M99K 鞋及旅行箱
193379,9951,皇田,2023/01,2023/02/10,368737.0,2023,02,M1500 電機機械,M15D 汽車組件

In [238]:
update = pd.read_excel("2022月營收更新報表_yuchun.xlsm", sheet_name='工作表1', header=6)
update = update.iloc[:, 3:7]
update = update.rename({'【1】年月':'rev_period', '【2】營收發布日':'declaration_date', '【3】單月營收(千元)':'rev'}, axis=1)
update['st_code'] = update['代號 名稱'].astype(str).str[0:4]
update['st_name'] = update['代號 名稱'].astype(str).str[5:]
update['declaration_date'] = update['declaration_date'].astype(str)
update['declaration_year'] = update['declaration_date'].str[0:4]
update['declaration_month'] = update['declaration_date'].str[4:6]
update['rev_period'] = update['rev_period'].astype(str).str[0:4] + "/" + update['rev_period'].astype(str).str[4:6]
update['declaration_date'] = update['declaration_date'].str[0:4] + "/" + update['declaration_date'].str[4:6] + "/" + update['declaration_date'].str[6:8]
update = update[update.declaration_date != 'nan//'].drop('代號 名稱', axis=1)
update.reset_index(drop=True)

,rev_period,declaration_date,rev,st_code,st_name,declaration_year,declaration_month
0,2023/02,2023/03/03,60985.0,1437,勤益控,2023,03
1,2023/02,2023/03/02,84182.0,1452,宏益,2023,03
2,2023/02,2023/03/02,2653731.0,1477,聚陽,2023,03
3,2023/02,2023/03/03,516402.0,1560,中砂,2023,03
4,2023/02,2023/03/03,153690.0,1586,和勤,2023,03
...,...,...,...,...,...,...,...
114,2023/02,2023/03/05,561018.0,8436,大江,2023,03
115,2023/02,2023/03/03,70181.0,8440,綠電,2023,03
116,2023/02,2023/03/02,511341.0,8924,大田,2023,03
117,2023/02,2023/03/03,114625.0,8940,新天地,2023,03
118,2023/02,2023/03/03,508653.0,8942,森鉅,2023,03

In [239]:
stock_info = revenue.iloc[:, 1:4].rename({'TSE新產業名':'new_industry_name',
                                          'TEJ子產業名':'minor_industry_name'}, axis=1)
stock_info['st_code'] = stock_info['公司簡稱'].str[0:4]
stock_info['st_name'] = stock_info['公司簡稱'].str[5:]
stock_info = stock_info.drop('公司簡稱', axis=1)
update = pd.merge(update, stock_info, on=['st_code', 'st_name'], how='left')

In [277]:
df = pd.concat([db, update], axis=0)
df['rev'] = round(df['rev']/1000, 2)

In [315]:
def get_yoy(data):
    data = data.sort_values('Year')
    data['yoy'] = round(data.rev.diff()/data.rev.shift(1), 4)
    return data


def get_st_mom_yoy(data):
    data['Year'] =  data.rev_period.astype(str).str[0:4]
    data['month'] = data.rev_period.astype(str).str[5:7]
    data['mom'] = round(data.rev.diff()/data.rev.shift(1), 4)
    yoy = pd.DataFrame()
    yoy = data.groupby('month').apply(get_yoy).reset_index(drop=True, inplace=False)
    return yoy#[yoy.Year >= '2016']


def get_ratio(data):
    ttl_rev = data.rev.sum()/len(data)*12
    data['ratio'] = round(data.rev/ttl_rev, 4)
    return data


def get_avg_ratio(data):
    if len(data) >= 5:
        weight = [1, 1, 1, 3, 5]
        roll_num = len(weight)
        data = data.sort_values('Year').reset_index(drop=True, inplace=False).tail(roll_num + 1).head(roll_num)  # 抓到最後一年的前 n 年，n 隨權重年份個變
        return round(np.average(data.ratio, weights = weight), 4)
    
    elif len(data) >= 4:
        weight = [1, 1, 2, 3]
        roll_num = len(weight)
        data = data.sort_values('Year').reset_index(drop=True, inplace=False).tail(roll_num + 1).head(roll_num)  # 抓到最後一年的前 n 年，n 隨權重年份個變
        return round(np.average(data.ratio, weights = weight), 4)
    
    elif len(data) >= 3:
        weight = [1, 1, 2]
        roll_num = len(weight)
        data = data.sort_values('Year').reset_index(drop=True, inplace=False).tail(roll_num + 1).head(roll_num)  # 抓到最後一年的前 n 年，n 隨權重年份個變
        return round(np.average(data.ratio, weights = weight), 4)
    
    elif len(data) >= 2:
        roll_num = len(data)
        data = data.sort_values('Year').reset_index(drop=True, inplace=False).tail(roll_num + 1).head(roll_num)  # 抓到最後一年的前 n 年，n 隨權重年份個變
        return round(data.ratio.mean(), 4)

def get_predict(data):
    new_industry_list = ['M1722 生技醫療', 'M2500 建材營造', 'M9900 其他', 'M1200 食品工業']
    minor_industry_list = ['M25A 建設']
    if (data.new_industry_name.head(1).isin(new_industry_list).values[0] == False) & (data.new_industry_name.head(1).isin(minor_industry_list).values[0] == False):
        if data.shape[0] >= 10:
            a = data.groupby('Year', as_index=False).apply(get_ratio)
            ratio = pd.DataFrame(a.groupby('month', as_index=False).apply(get_avg_ratio)).set_axis(['month', 'wt_avg_ratio'],axis=1)
            predict = pd.merge(a, ratio, on='month', how='outer').sort_values('rev_period').reset_index(drop=True,inplace=False).tail(13)  # 僅向後預測一年
            predict['predict_annul_rev'] = round(predict.rev / predict.ratio)
            predict['predict_month_rev'] = round(predict['predict_annul_rev'].tail(12).mean()* predict.wt_avg_ratio)
            predict['Year'] = (predict.Year.astype(int) + 1).astype(str)
            predict['rev'] = predict['predict_month_rev']
            predict = pd.concat([data.sort_values('rev_period'), predict], axis=0).sort_values(['Year', 'month'])
            predict['mom'] = predict.rev.diff() / predict.rev.shift(1)
            predict = predict.groupby('month', as_index=False).apply(get_yoy).sort_values(['Year', 'month'])
            predict['rev_period'] = '* ' + predict.Year + '/' + predict.month
            predict = predict.drop(['ratio','wt_avg_ratio','predict_annul_rev','predict_month_rev'], axis=1)
            return predict.tail(12)
        else:
            print(data.st_code.head(1).values[0], data.shape[0])
    else:
        print(data.st_code.head(1).values[0], data.new_industry_name.head(1).values[0], '產業不可測')


def growth(data):
    data['yoy年成長大於10'] = np.where(data.yoy >= 10, 1, 0)
    data['yoy成長'] = np.where(data.yoy > data.yoy.shift(1), 1, 0)
    data['yoy衰退'] = np.where(data.yoy <= data.yoy.shift(1), 1, 0)
    
    test = data.loc[:, ['yoy年成長大於10']]
    data['yoy近五月大於10'] = test.rolling(5).sum()
    data['yoy連續大於10'] = test.apply(lambda x: x.groupby((x != x.shift()).cumsum()).cumsum())
    
    test = data.loc[:, ['yoy成長']]
    data['yoy近五月成長'] = test.rolling(5).sum()
    data['yoy連續成長'] = test.apply(lambda x: x.groupby((x != x.shift()).cumsum()).cumsum())
    
    test = data.loc[:, ['yoy衰退']]
    data['yoy近五月衰退'] = test.rolling(5).sum()
    data['yoy連續衰退'] = test.apply(lambda x: x.groupby((x != x.shift()).cumsum()).cumsum())
    return data


def get_mompic(st_data, st_predict, pic_title):
    if st_predict.shape[0] != 0:
        MOM_pic = []
        for i in st_data.Year.drop_duplicates():
            globals()['trace' + str(i)] = go.Scatter(x=st_data[st_data.Year == i].month, y=st_data[st_data.Year == i].mom, name=i, opacity=0.5)
            MOM_pic.append(globals()['trace' + str(i)])
        for i in st_predict.Year.drop_duplicates():
            globals()['trace_predict' + str(i)] = go.Scatter(x=st_predict[st_predict.Year == i].month, y=st_predict[st_predict.Year == i].mom, name=str(i) + '預估值', #marker_color='black',
                                                             line=dict(dash = "dash"), connectgaps=False)
            MOM_pic.append(globals()['trace_predict' + str(i)])
        layout = go.Layout(title=pic_title+' MOM %', xaxis_title="月份", yaxis_title="MOM %", hovermode='x unified', legend_title_text='年份')
        MOM = go.Figure(data = MOM_pic, layout=layout)
    else:
        MOM_pic = []
        for i in st_data.Year.drop_duplicates():
            globals()['trace' + str(i)] = go.Scatter(x=st_data[st_data.Year == i].month, y=st_data[st_data.Year == i].mom, name=i, opacity=0.5)
            MOM_pic.append(globals()['trace' + str(i)])
        layout = go.Layout(title=pic_title+' MOM %', xaxis_title="月份", yaxis_title="MOM %", hovermode='x unified', legend_title_text='年份')
        MOM = go.Figure(data = MOM_pic, layout=layout)
    return MOM


def get_yoypic(st_yoy, st_predict, pic_title):
    if st_predict.shape[0] != 0:
        YOY_pic = []
        for i in st_yoy.Year.drop_duplicates():
            globals()['trace' + str(i)] = go.Scatter(x=st_yoy[st_yoy.Year == i].month, y=st_yoy[st_yoy.Year == i].yoy, name=i, opacity=0.5)
            YOY_pic.append(globals()['trace' + str(i)])
        for i in st_predict.Year.drop_duplicates():
            globals()['trace_predict' + str(i)] = go.Scatter(x=st_predict[st_predict.Year == i].month, y=st_predict[st_predict.Year == i].yoy, name=str(i) + '預估值',  #marker_color='black',
                                                             line=dict(dash = "dash"), connectgaps=False)
            YOY_pic.append(globals()['trace_predict' + str(i)])
        layout = go.Layout(title=pic_title+' YOY %', xaxis_title="月份", yaxis_title="YOY %", hovermode='x unified', legend_title_text='年份')
        YOY = go.Figure(data = YOY_pic, layout=layout)
    else:
        YOY_pic = []
        for i in st_yoy.Year.drop_duplicates():
            globals()['trace' + str(i)] = go.Scatter(x=st_yoy[st_yoy.Year == i].month, y=st_yoy[st_yoy.Year == i].yoy, name=i, opacity=0.5)
            YOY_pic.append(globals()['trace' + str(i)])
        layout = go.Layout(title=pic_title+' YOY %', xaxis_title="月份", yaxis_title="YOY %", hovermode='x unified', legend_title_text='年份')
        YOY = go.Figure(data = YOY_pic, layout=layout)
    return YOY


def get_revpic(st_data, st_predict, title_name):
    if st_predict.shape[0] != 0:
        REV_pic = []
        for i in st_data.Year.drop_duplicates():
            globals()['trace' + str(i)] = go.Bar(x=st_data[st_data.Year == i].month, y=st_data[st_data.Year == i].rev, name=i, opacity=0.7)
            REV_pic.append(globals()['trace' + str(i)])
        trace_predict = go.Bar(x=st_predict.month, y=st_predict.predict_month_rev, opacity=1,
                               marker_color='black', name='預估值', marker_pattern_shape="\\",
                               marker=dict(color="white", line_color="black", pattern_fillmode="replace"))
        REV_pic.append(trace_predict)
        layout = go.Layout(barmode = 'group', title=title_name, xaxis_title="月份", yaxis_title="累計營收", hovermode='x unified', legend_title_text='年份')
        REV = go.Figure(data = REV_pic, layout=layout)
    else:
        REV_pic = []
        for i in st_data.Year.drop_duplicates():
            globals()['trace' + str(i)] = go.Bar(x=st_data[st_data.Year == i].month, y=st_data[st_data.Year == i].rev, name=i, opacity=0.7)
            REV_pic.append(globals()['trace' + str(i)])
        layout = go.Layout(barmode = 'group', title=title_name, xaxis_title="月份", yaxis_title="累計營收", hovermode='x unified', legend_title_text='年份')
        REV = go.Figure(data = REV_pic, layout=layout)
    return REV

In [301]:
# data = df.groupby('st_code', as_index=False).apply(get_st_mom_yoy)
# data = data.reset_index(drop=True)
predict = data.groupby('st_code', as_index=False).apply(get_predict)
predict = predict.reset_index(drop=True)

1201 M1200 食品工業 產業不可測
1203 M1200 食品工業 產業不可測
1210 M1200 食品工業 產業不可測
1213 M1200 食品工業 產業不可測
1215 M1200 食品工業 產業不可測
1216 M1200 食品工業 產業不可測
1217 M1200 食品工業 產業不可測
1218 M1200 食品工業 產業不可測
1219 M1200 食品工業 產業不可測
1220 M1200 食品工業 產業不可測
1225 M1200 食品工業 產業不可測
1227 M1200 食品工業 產業不可測
1229 M1200 食品工業 產業不可測
1231 M1200 食品工業 產業不可測
1232 M1200 食品工業 產業不可測
1233 M1200 食品工業 產業不可測
1234 M1200 食品工業 產業不可測
1235 M1200 食品工業 產業不可測
1236 M1200 食品工業 產業不可測
1256 M1200 食品工業 產業不可測
1258 M1200 食品工業 產業不可測
1264 M1200 食品工業 產業不可測
1316 M2500 建材營造 產業不可測
1342 M9900 其他 產業不可測
1416 M9900 其他 產業不可測
1435 M9900 其他 產業不可測
1436 M2500 建材營造 產業不可測
1437 M9900 其他 產業不可測
1438 M2500 建材營造 產業不可測
1442 M2500 建材營造 產業不可測
1453 M2500 建材營造 產業不可測
1456 M2500 建材營造 產業不可測
1516 M9900 其他 產業不可測
1565 M1722 生技醫療 產業不可測
1584 M9900 其他 產業不可測
1593 M1722 生技醫療 產業不可測
1598 M1722 生技醫療 產業不可測
1701 M1722 生技醫療 產業不可測
1702 M1200 食品工業 產業不可測
1707 M1722 生技醫療 產業不可測
1720 M1722 生技醫療 產業不可測
1731 M1722 生技醫療 產業不可測
1733 M1722 生技醫療 產業不可測
1734 M1722 生技醫療 產業不可測
1736 M1722 生技醫療 產業不可測
1737 M1200 食品工業 產業不可測
1752 M1722 生技醫療 產業不可測
1760 M1722 生技醫療 產業不可測
1762 M1722 生技醫療 產業不可測
1777 M1722 生技醫療 產業不可測
1781 M1722 生技醫療 產業不可測
1783 M1722 生技醫療 產業不可測
1784 M1722 生技醫療 產業不可測
1786 M1722 生技醫療 產業不可測
1788 M1722 生技醫療 產業不可測
1789 M1722 生技醫療 產業不可測
1795 M1722 生技醫療 產業不可測
1796 M1200 食品工業 產業不可測
1799 M1722 生技醫療 產業不可測
1805 M2500 建材營造 產業不可測
1808 M2500 建材營造 產業不可測
1813 M1722 生技醫療 產業不可測
2062 M9900 其他 產業不可測
2221 M9900 其他 產業不可測
2340 1
2348 M9900 其他 產業不可測
2358 M9900 其他 產業不可測
2496 M9900 其他 產業不可測
2501 M2500 建材營造 產業不可測
2504 M2500 建材營造 產業不可測
2505 M2500 建材營造 產業不可測
2506 M2500 建材營造 產業不可測
2509 M2500 建材營造 產業不可測
2511 M2500 建材營造 產業不可測
2514 M9900 其他 產業不可測
2515 M2500 建材營造 產業不可測
2516 M2500 建材營造 產業不可測
2520 M2500 建材營造 產業不可測
2524 M2500 建材營造 產業不可測
2527 M2500 建材營造 產業不可測
2528 M2500 建材營造 產業不可測
2530 M2500 建材營造 產業不可測
2534 M2500 建材營造 產業不可測
2535 M2500 建材營造 產業不可測
2536 M2500 建材營造 產業不可測
2537 M2500 建材營造 產業不可測
2538 M2500 建材營造 產業不可測
2539 M2500 建材營造 產業不可測
2540 M2500 建材營造 產業不可測
2542 M2500 建材營造 產業不可測
2543 M2500 建材營造 產業不可測
2545 M2500 建材營造 產業不可測
2546 M2500 建材營造 產業不可測
2547 M2500 建材營造 產業不可測
2548 M2500 建材營造 產業不可測
2596 M2500 建材營造 產業不可測
2597 M2500 建材營造 產業不可測
2614 M9900 其他 產業不可測
2640 M9900 其他 產業不可測
2904 M9900 其他 產業不可測
2923 M2500 建材營造 產業不可測
3040 M9900 其他 產業不可測
3052 M2500 建材營造 產業不可測
3056 M2500 建材營造 產業不可測
3118 M1722 生技醫療 產業不可測
3164 M1722 生技醫療 產業不可測
3176 M1722 生技醫療 產業不可測
3205 M1722 生技醫療 產業不可測
3218 M1722 生技醫療 產業不可測
3266 M2500 建材營造 產業不可測
3284 M9900 其他 產業不可測
3313 M9900 其他 產業不可測
3489 M2500 建材營造 產業不可測
3557 M9900 其他 產業不可測
3703 M2500 建材營造 產業不可測
3705 M1722 生技醫療 產業不可測
4102 M1722 生技醫療 產業不可測
4104 M1722 生技醫療 產業不可測
4105 M1722 生技醫療 產業不可測
4106 M1722 生技醫療 產業不可測
4107 M1722 生技醫療 產業不可測
4108 M1722 生技醫療 產業不可測
4109 M1722 生技醫療 產業不可測
4111 M1722 生技醫療 產業不可測
4113 M2500 建材營造 產業不可測
4114 M1722 生技醫療 產業不可測
4116 M1722 生技醫療 產業不可測
4119 M1722 生技醫療 產業不可測
4120 M1722 生技醫療 產業不可測
4121 M1722 生技醫療 產業不可測
4123 M1722 生技醫療 產業不可測
4126 M1722 生技醫療 產業不可測
4127 M1722 生技醫療 產業不可測
4128 M1722 生技醫療 產業不可測
4129 M1722 生技醫療 產業不可測
4130 M1722 生技醫療 產業不可測
4131 M1722 生技醫療 產業不可測
4133 M1722 生技醫療 產業不可測
4137 M1722 生技醫療 產業不可測
4138 M1722 生技醫療 產業不可測
4139 M1722 生技醫療 產業不可測
4142 M1722 生技醫療 產業不可測
4147 M1722 生技醫療 產業不可測
4148 M1722 生技醫療 產業不可測
4153 M1722 生技醫療 產業不可測
4155 M1722 生技醫療 產業不可測
4157 M1722 生技醫療 產業不可測
4160 M1722 生技醫療 產業不可測
4161 M1722 生技醫療 產業不可測
4162 M1722 生技醫療 產業不可測
4163 M1722 生技醫療 產業不可測
4164 M1722 生技醫療 產業不可測
4167 M1722 生技醫療 產業不可測
4168 M1722 生技醫療 產業不可測
4173 M1722 生技醫療 產業不可測
4174 M1722 生技醫療 產業不可測
4175 M1722 生技醫療 產業不可測
4183 M1722 生技醫療 產業不可測
4188 M1722 生技醫療 產業不可測
4190 M1722 生技醫療 產業不可測
4192 M1722 生技醫療 產業不可測
4198 M1722 生技醫療 產業不可測
4205 M1200 食品工業 產業不可測
4207 M1200 食品工業 產業不可測
4416 M2500 建材營造 產業不可測
4430 M9900 其他 產業不可測
4529 M9900 其他 產業不可測
4536 M9900 其他 產業不可測
4541 M9900 其他 產業不可測
4556 M9900 其他 產業不可測
4712 M1200 食品工業 產業不可測
4726 M1722 生技醫療 產業不可測
4728 M1722 生技醫療 產業不可測
4735 M1722 生技醫療 產業不可測
4736 M1722 生技醫療 產業不可測
4737 M1722 生技醫療 產業不可測
4743 M1722 生技醫療 產業不可測
4744 M1722 生技醫療 產業不可測
4745 M1722 生技醫療 產業不可測
4746 M1722 生技醫療 產業不可測
4747 M1722 生技醫療 產業不可測
4907 M2500 建材營造 產業不可測
4911 M1722 生技醫療 產業不可測
4950 M9900 其他 產業不可測
5206 M2500 建材營造 產業不可測
5213 M2500 建材營造 產業不可測
5222 1
5276 M9900 其他 產業不可測
5284 M9900 其他 產業不可測
5306 M9900 其他 產業不可測
5312 M1722 生技醫療 產業不可測
5324 M2500 建材營造 產業不可測
5345 M9900 其他 產業不可測
5398 M9900 其他 產業不可測
5450 M9900 其他 產業不可測
5455 M2500 建材營造 產業不可測
5481 M9900 其他 產業不可測
5508 M2500 建材營造 產業不可測
5511 M2500 建材營造 產業不可測
5512 M2500 建材營造 產業不可測
5514 M2500 建材營造 產業不可測
5515 M2500 建材營造 產業不可測
5516 M2500 建材營造 產業不可測
5519 M2500 建材營造 產業不可測
5520 M2500 建材營造 產業不可測
5521 M2500 建材營造 產業不可測
5522 M2500 建材營造 產業不可測
5523 M2500 建材營造 產業不可測
5525 M2500 建材營造 產業不可測
5529 M2500 建材營造 產業不可測
5530 M9900 其他 產業不可測
5531 M2500 建材營造 產業不可測
5533 M2500 建材營造 產業不可測
5534 M2500 建材營造 產業不可測
5543 M2500 建材營造 產業不可測
5546 M2500 建材營造 產業不可測
5871 M9900 其他 產業不可測
6112 1
6130 M1722 生技醫療 產業不可測
6165 M9900 其他 產業不可測
6177 M2500 建材營造 產業不可測
6179 M9900 其他 產業不可測
6184 M9900 其他 產業不可測
6186 M2500 建材營造 產業不可測
6199 M9900 其他 產業不可測
6212 M2500 建材營造 產業不可測
6219 M2500 建材營造 產業不可測
6236 M9900 其他 產業不可測
6240 M9900 其他 產業不可測
6242 M1722 生技醫療 產業不可測
6264 M2500 建材營造 產業不可測
6446 M1722 生技醫療 產業不可測
6461 M1722 生技醫療 產業不可測
6464 M9900 其他 產業不可測
6469 M1722 生技醫療 產業不可測
6472 M1722 生技醫療 產業不可測
6491 M1722 生技醫療 產業不可測
6492 M1722 生技醫療 產業不可測
6496 M1722 生技醫療 產業不可測
6499 M1722 生技醫療 產業不可測
6504 M9900 其他 產業不可測
6523 M1722 生技醫療 產業不可測
6527 M1722 生技醫療 產業不可測
6531 1
6535 M1722 生技醫療 產業不可測
6541 M1722 生技醫療 產業不可測
6547 M1722 生技醫療 產業不可測
6569 M1722 生技醫療 產業不可測
6574 M1722 生技醫療 產業不可測
6576 M1722 生技醫療 產業不可測
6581 M9900 其他 產業不可測
6589 M1722 生技醫療 產業不可測
6592 M9900 其他 產業不可測
6598 M1722 生技醫療 產業不可測
6612 M1722 生技醫療 產業不可測
6615 M1722 生技醫療 產業不可測
6616 M9900 其他 產業不可測
6624 M9900 其他 產業不可測
6625 M9900 其他 產業不可測
6629 M9900 其他 產業不可測
6641 M9900 其他 產業不可測
6649 M1722 生技醫療 產業不可測
6655 M9900 其他 產業不可測
6661 M1722 生技醫療 產業不可測
6662 M1722 生技醫療 產業不可測
6666 M1722 生技醫療 產業不可測
6670 M9900 其他 產業不可測
6671 M9900 其他 產業不可測
6703 M1722 生技醫療 產業不可測
6712 M1722 生技醫療 產業不可測
6733 M1722 生技醫療 產業不可測
6747 M1722 生技醫療 產業不可測
6754 M9900 其他 產業不可測
6762 M1722 生技醫療 產業不可測
6767 M1722 生技醫療 產業不可測
6768 M9900 其他 產業不可測
6803 M9900 其他 產業不可測
8033 M9900 其他 產業不可測
8279 M1722 生技醫療 產業不可測
8341 M9900 其他 產業不可測
8342 M9900 其他 產業不可測
8354 M9900 其他 產業不可測
8390 M9900 其他 產業不可測
8401 M9900 其他 產業不可測
8403 M1722 生技醫療 產業不可測
8404 M9900 其他 產業不可測
8409 M1722 生技醫療 產業不可測
8411 M9900 其他 產業不可測
8418 M9900 其他 產業不可測
8420 M9900 其他 產業不可測
8421 M9900 其他 產業不可測
8422 M9900 其他 產業不可測
8423 M9900 其他 產業不可測
8424 M2500 建材營造 產業不可測
8426 M9900 其他 產業不可測
8432 M1722 生技醫療 產業不可測
8435 M9900 其他 產業不可測
8436 M1722 生技醫療 產業不可測
8437 M9900 其他 產業不可測
8440 M9900 其他 產業不可測
8442 M9900 其他 產業不可測
8444 M9900 其他 產業不可測
8463 M9900 其他 產業不可測
8464 M9900 其他 產業不可測
8466 M9900 其他 產業不可測
8467 M9900 其他 產業不可測
8473 M9900 其他 產業不可測
8476 M9900 其他 產業不可測
8478 M9900 其他 產業不可測
8480 M9900 其他 產業不可測
8481 M9900 其他 產業不可測
8482 M9900 其他 產業不可測
8488 M9900 其他 產業不可測
8489 M9900 其他 產業不可測
8905 M9900 其他 產業不可測
8906 M9900 其他 產業不可測
8916 M9900 其他 產業不可測
8921 M9900 其他 產業不可測
8924 M9900 其他 產業不可測
8928 M9900 其他 產業不可測
8929 M9900 其他 產業不可測
8932 M9900 其他 產業不可測
8933 M9900 其他 產業不可測
8935 M9900 其他 產業不可測
8936 M9900 其他 產業不可測
8937 M9900 其他 產業不可測
8938 M9900 其他 產業不可測
8942 M9900 其他 產業不可測
9802 M9900 其他 產業不可測
9902 M9900 其他 產業不可測
9904 M9900 其他 產業不可測
9905 M9900 其他 產業不可測
9906 M2500 建材營造 產業不可測
9907 M9900 其他 產業不可測
9910 M9900 其他 產業不可測
9911 M9900 其他 產業不可測
9914 M9900 其他 產業不可測
9917 M9900 其他 產業不可測
9919 M9900 其他 產業不可測
9921 M9900 其他 產業不可測
9924 M9900 其他 產業不可測
9925 M9900 其他 產業不可測
9927 M9900 其他 產業不可測
9928 M9900 其他 產業不可測
9929 M9900 其他 產業不可測
9930 M9900 其他 產業不可測
9933 M9900 其他 產業不可測
9934 M9900 其他 產業不可測
9935 M9900 其他 產業不可測
9938 M9900 其他 產業不可測
9939 M9900 其他 產業不可測
9940 M9900 其他 產業不可測
9941 M9900 其他 產業不可測
9942 M9900 其他 產業不可測
9944 M9900 其他 產業不可測
9945 M9900 其他 產業不可測
9946 M2500 建材營造 產業不可測
9955 M9900 其他 產業不可測

In [302]:
predict

,st_code,st_name,rev_period,declaration_date,rev,declaration_year,declaration_month,new_industry_name,minor_industry_name,Year,month,mom,yoy
0,1101,台泥,* 2023/02,2022/03/10,4857.0,2022,3,M1100 水泥工業,M11A 水泥製造,2023,02,-0.390819,-0.1098
1,1101,台泥,* 2023/03,2022/04/11,9680.0,2022,4,M1100 水泥工業,M11A 水泥製造,2023,03,0.993000,-0.0292
2,1101,台泥,* 2023/04,2022/05/10,9836.0,2022,5,M1100 水泥工業,M11A 水泥製造,2023,04,0.016116,0.1823
3,1101,台泥,* 2023/05,2022/06/10,10013.0,2022,6,M1100 水泥工業,M11A 水泥製造,2023,05,0.017995,0.2947
4,1101,台泥,* 2023/06,2022/07/11,9082.0,2022,7,M1100 水泥工業,M11A 水泥製造,2023,06,-0.092979,-0.0070
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16003,9962,有益,* 2023/09,2022/10/06,316.0,2022,10,M2000 鋼鐵工業,M20A6 不鏽鋼,2023,09,0.229572,0.1957
16004,9962,有益,* 2023/10,2022/11/04,291.0,2022,11,M2000 鋼鐵工業,M20A6 不鏽鋼,2023,10,-0.079114,-0.0534
16005,9962,有益,* 2023/11,2022/12/07,363.0,2022,12,M2000 鋼鐵工業,M20A6 不鏽鋼,2023,11,0.247423,0.1761
16006,9962,有益,* 2023/12,2023/01/09,314.0,2023,1,M2000 鋼鐵工業,M20A6 不鏽鋼,2023,12,-0.134986,-0.1858
16007,9962,有益,* 2024/01,2023/02/07,222.0,2023,02,M2000 鋼鐵工業,M20A6 不鏽鋼,2024,01,-0.292994,0.0000

In [ ]:
data = pd.concat([data, predict], axis=0)#.sort_values(['st_code', 'rev_period'], axis=0)

#### 模擬查詢結果

In [321]:
dropdown1 = new_industry_name[2]
dropdown2 = minor_industry_name[5]
st_input = '2412'
st_or_gruop = '個股'

def revenue(dropdown1, dropdown2, st_input, st_or_gruop):
    if (st_input == ''):
        if (dropdown1 != new_industry_name[0]) & (dropdown2 == minor_industry_name[0]):
            rev_data = data[(data.new_industry_name == dropdown1)]
            rev_predict = predict[(predict.new_industry_name == dropdown1)]
            title = dropdown1 + ' '
            
        elif (dropdown1 != new_industry_name[0]) & (dropdown2 != minor_industry_name[0]):
            rev_data = data[(data.new_industry_name == dropdown1) & 
                            (data.minor_industry_name == dropdown2)]
            rev_predict = predict[(predict.new_industry_name == dropdown1) &
                                  (predict.minor_industry_name == dropdown2)]
            title = dropdown1 + dropdown2 + ' '
            
        elif (dropdown1 == new_industry_name[0]) & (dropdown2 != minor_industry_name[0]):
            rev_data = data[(data.minor_industry_name == dropdown2)]
            rev_predict = predict[(predict.minor_industry_name == dropdown2)]
            title = dropdown2 + ' '


    else:
        if st_or_gruop == '個股':
            rev_data = data[data.st_code == st_input]
            rev_predict = predict[predict.st_code == st_input]
            title = st_input + ' ' + rev_data.st_name.head(1).values[0] + ' '

        elif st_or_gruop == '產業':
            new_index = data[data.st_code == st_input].new_industry_name.head(1).values[0]
            minor_index = data[data.st_code == st_input].minor_industry_name.head(1).values[0]
            if (new_index != '') & (minor_index != ''):
                rev_data = data[(data.new_industry_name == new_index) 
                                & (data.minor_industry_name == minor_index)]
                rev_predict = predict[(predict.new_industry_name == new_index) 
                                   & (predict.minor_industry_name == minor_index)]
                title = new_index + minor_index + ' '

            elif (new_index != '') & (minor_index == ''):
                rev_data = data[(data.new_industry_name == new_index)]
                rev_predict = predict[(predict.new_industry_name == new_index)]
                title = new_index + ' '

            elif (new_index == '') & (minor_index != ''):
                rev_data = data[(data.minor_industry_name == minor_index)]
                rev_predict = predict[(predict.minor_industry_name == minor_index)]
                title = minor_index + ' '
    
    # 繪圖
#     REV = fn.get_revpic(rev_data, rev_predict, (title + ' 各年度月營收'))
    MOM = fn.get_mompic(rev_data, rev_predict, (title + ' 各年度月營收'))
    YOY = fn.get_yoypic(rev_data, rev_predict, (title + ' 各年度月營收'))
    return rev_data

revenue(dropdown1, dropdown2, st_input, st_or_gruop)#.drop_duplicates('st_code')

,st_code,st_name,rev_period,declaration_date,rev,declaration_year,declaration_month,new_industry_name,minor_industry_name,Year,month,mom,yoy
42718,2412,中華電,2013/01,2013/02/08,19874.61,2013,2,M2327 通信網路業,M23K3 電信及IDC,2013,01,NaN,NaN
42719,2412,中華電,2013/02,2013/03/11,19250.62,2013,3,M2327 通信網路業,M23K3 電信及IDC,2013,02,-0.0314,NaN
42720,2412,中華電,2013/03,2013/04/10,17502.58,2013,4,M2327 通信網路業,M23K3 電信及IDC,2013,03,-0.0908,NaN
42721,2412,中華電,2013/04,2013/05/10,18497.28,2013,5,M2327 通信網路業,M23K3 電信及IDC,2013,04,0.0568,NaN
42722,2412,中華電,2013/05,2013/06/10,18589.02,2013,6,M2327 通信網路業,M23K3 電信及IDC,2013,05,0.0050,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42834,2412,中華電,2022/09,2022/10/11,18986.77,2022,10,M2327 通信網路業,M23K3 電信及IDC,2022,09,0.0951,0.0982
42835,2412,中華電,2022/10,2022/11/10,19230.09,2022,11,M2327 通信網路業,M23K3 電信及IDC,2022,10,0.0128,0.0163
42836,2412,中華電,2022/11,2022/12/12,19309.44,2022,12,M2327 通信網路業,M23K3 電信及IDC,2022,11,0.0041,0.0584
42837,2412,中華電,2022/12,2023/01/10,20961.44,2023,1,M2327 通信網路業,M23K3 電信及IDC,2022,12,0.0856,-0.0777
42838,2412,中華電,2023/01,2023/02/10,17764.18,2023,02,M2327 通信網路業,M23K3 電信及IDC,2023,01,-0.1525,0.0200

In [8]:
r = '/Users/yuchun/Revenue/ML_Cluster/'
industry = pd.read_excel(r+'stock_info.xls', sheet_name='產業別').loc[
    :, ['代號','名稱','交易所主產業代碼','交易所子產業代碼','TEJ主產業代碼','TEJ子產業代碼']]

new_industry = pd.read_excel(r+'stock_info.xls', sheet_name='主產業').drop('產業英文簡稱', axis=1)
new_industry['TEJ主產業代碼'] = new_industry['TEJ主產業代碼'].str.strip().str[1:]
minor_industry = pd.read_excel(r+'stock_info.xls', sheet_name='子產業').drop('產業英文簡稱', axis=1)
minor_industry['TEJ子產業代碼'] = minor_industry['TEJ子產業代碼'].str.strip().str[1:]

industry = pd.merge(industry, new_industry, on='TEJ主產業代碼', how='left')
industry = pd.merge(industry, minor_industry, on='TEJ子產業代碼', how='left')

industry['industry_title'] = np.where((industry.minor_industry.isna() == True) 
                                      & (industry.new_industry.isna() == False), 
                                     industry.new_industry + '類', 
                                      np.where((industry.minor_industry.isna() == False) 
                                               & (industry.new_industry.isna() == True), 
                                               industry.minor_industry + '類', 
                                               industry.new_industry + ':' + industry.minor_industry + '類'))
industry.to_csv('industry.csv', encoding='utf_8_sig', header=True)